In [2]:
# Dependencies and Setup
import pandas as pd 
import numpy as np

In [31]:
# file loading
file = 'Resources/purchase_data.csv'
# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(file)
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
df.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

# Player Count

* Display the total number of players

In [5]:
unique = df['SN'].unique()
players = len(unique)
df_players = pd.DataFrame({'Total Players': [players]})
df_players

   Total Players
0            576

# Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
# Number of Unique Items
unique_items = df['Item ID'].unique()
unique_items = len(unique_items)
unique_items

183

In [7]:
# Average Purchase Price
avg_price = round(df['Price'].mean(),2)
avg_price

3.05

In [8]:
number_of_purchase = len(df)
number_of_purchase

780

In [9]:
Total_Revenue = round(df['Price'].sum(),2)
Total_Revenue

2379.77

In [10]:
purchasing_analysis = pd.DataFrame({'Number of Unique Items': [unique_items],
                       'Average Price':[avg_price],
                      'Number of Purchases':[number_of_purchase],
                       'Total Revenue':[Total_Revenue]
                       })
purchasing_analysis['Average Price']= '$' + purchasing_analysis['Average Price'].astype(str)
purchasing_analysis['Total Revenue']= '$'+ purchasing_analysis['Total Revenue'].astype(str)

purchasing_analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

# Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [11]:
gender_total = df["SN"].nunique()
male_count = df[df["Gender"] == "Male"]["SN"].nunique()
female_count = df[df["Gender"] == "Female"]["SN"].nunique()
other_count = gender_total - male_count - female_count
male_perct = (male_count/gender_total*100)
female_perct = (female_count/gender_total*100)
other_perct = (other_count/gender_total*100)

gender_demo = pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclosed"], 
                            "Total Count":[male_count,female_count,other_count],
                           "Percentage of Players": [male_perct,female_perct,other_perct]}, 
                           columns=["Gender","Total Count", "Percentage of Players"])

gender_demo = gender_demo.set_index("Gender")
gender_demo.style.format({"Percentage of Players":"{:.2f}%"})

## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [63]:
male_purchase = df[df["Gender"] == "Male"]["Price"].count()
female_purchase = df[df["Gender"] == "Female"]["Price"].count()
other_purchase = Total_Revenue - male_purchase - female_purchase

male_purch_avg = df[df["Gender"] == "Male"]["Price"].mean()
female_purch_avg = df[df["Gender"] == "Female"]["Price"].mean()
other_purch_avg = df[df["Gender"] == "Other / Non-Disclosed"]["Price"].mean()

male_price_total = df[df["Gender"] == "Male"]["Price"].sum()
female_price_total = df[df["Gender"] == "Female"]["Price"].sum()
other_price_total = df[df["Gender"] == "Other / Non-Disclosed"]["Price"].sum()

male_per_person = male_price_total/male_count
female_per_person = female_price_total/female_count
other_per_person = other_price_total/other_count

gender_purchase = pd.DataFrame({"Gender":["Male", "Female", "Other / Non-Disclosed"],
                               "Purchase Count":[male_purchase,female_purchase,other_purchase],
                               "Average Purchase Price":[male_purch_avg,female_purch_avg,other_purchase],
                               "Total Purchase Value":[male_price_total,female_price_total,other_price_total],
                               "Avg Total Purchase per Person":[male_per_person,female_per_person,other_per_person]},
                              columns=["Gender","Purchase Count","Average Purchase Price","Total Purchase Value","Avg Total Purchase per Person"])

gender_purchase= gender_purchase.set_index("Gender")
gender_purchase.style.format({"Purchase Count": "{:.0f}", "Average Purchase Price": "${:.2f}", 
                              "Total Purchase Value": "${:.2f}", "Avg Total Purchase per Person": "${:.2f}" })

# Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [28]:
lowten = df[df['Age'] < 10]
ten = df[(df['Age'] >= 10) & (df['Age'] <= 14)]
fifteen = df[(df['Age'] >= 15) & (df['Age'] <= 19)]
twenty = df[(df['Age'] >= 20) & (df['Age'] <= 24)]
twentyfive = df[(df['Age'] >= 25) & (df['Age'] <= 29)]
thirty = df[(df['Age'] >= 30) & (df['Age'] <= 34)]
thirtyfive = df[(df['Age'] >= 35) & (df['Age'] <= 39)]
fourty = df[df['Age'] >= 40]

age_df = pd.DataFrame({"Age": ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"],
                      "Total Count": [lowten['SN'].nunique(),ten["SN"].nunique(), fifteen['SN'].nunique(),twenty['SN'].nunique(),twentyfive['SN'].nunique(),
                          thirty['SN'].nunique(),thirtyfive['SN'].nunique(),fourty['SN'].nunique()],
                           "Percentage of Players":[(lowten["SN"].nunique()/players)*100,(ten["SN"].nunique()/players)*100, (fifteen['SN'].nunique()/players)*100,
                                    (twenty['SN'].nunique()/players)*100,(twentyfive['SN'].nunique()/players)*100,
                          (thirty['SN'].nunique()/players)*100,(thirtyfive['SN'].nunique()/players)*100,(fourty['SN'].nunique()/players)*100]})
          
                   
age_df= age_df.set_index('Age')
age_df.style.format({"Percentage of Players": "{:.2f}%"})

# Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [34]:
age_purhasing_df=pd.DataFrame({"Age": ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"],
                               "Purchase Count":[lowten['Price'].count(),ten['Price'].count(), fifteen['Price'].count(),twenty['Price'].count(),twentyfive['Price'].count(),
                          thirty['Price'].count(),thirtyfive['Price'].count(),fourty['Price'].count()],
                               "Average Purchase Price":[lowten['Price'].mean(),ten['Price'].mean(), fifteen['Price'].mean(),twenty['Price'].mean(),twentyfive['Price'].mean(),
                          thirty['Price'].mean(),thirtyfive['Price'].mean(),fourty['Price'].mean()],
                               "Total Purchase Value":[lowten['Price'].sum(),ten['Price'].sum(), fifteen['Price'].sum(),twenty['Price'].sum(),twentyfive['Price'].sum(),
                          thirty['Price'].sum(),thirtyfive['Price'].sum(),fourty['Price'].sum()],
                               "Avg Total Purchase per Person":[lowten['Price'].sum()/lowten['SN'].nunique(),ten['Price'].sum()/ten["SN"].nunique(), 
                                                                fifteen['Price'].sum()/fifteen['SN'].nunique(),twenty['Price'].sum()/twenty['SN'].nunique(),twentyfive['Price'].sum()/twentyfive['SN'].nunique(),
                          thirty['Price'].sum()/thirty['SN'].nunique(),thirtyfive['Price'].sum()/thirtyfive['SN'].nunique(),fourty['Price'].sum()/fourty['SN'].nunique()]},
                             columns= ["Age", "Purchase Count", "Average Purchase Price", "Total Purchase Value","Avg Total Purchase per Person"])

age_purhasing_df=age_purhasing_df.set_index('Age')

age_purhasing_df.style.format({"Average Purchase Price":"${:.2f}","Total Purchase Value":"${:.2f}","Avg Total Purchase per Person":"${:.2f}"})

# Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [36]:
sn_total_purchase = df.groupby('SN')['Price'].sum().to_frame()
sn_purchase_count = df.groupby('SN')['Price'].count().to_frame()
sn_purchase_avg = df.groupby('SN')['Price'].mean().to_frame()

sn_total_purchase.columns=["Total Purchase Value"]
join_one = sn_total_purchase.join(sn_purchase_count, how="left")
join_one.columns=["Total Purchase Value", "Purchase Count"]

join_two = join_one.join(sn_purchase_avg, how="inner")
join_two.columns=["Total Purchase Value", "Purchase Count", "Average Purchase Price"]

top_spenders_df = join_two[["Purchase Count", "Average Purchase Price", "Total Purchase Value"]]
top_spenders_final = top_spenders_df.sort_values('Total Purchase Value', ascending=False).head()
top_spenders_final.style.format({"Average Purchase Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})

# Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [69]:
df_popular = df.drop(['Age', 'Gender', 'SN', 'Purchase ID'], axis = 1)
df_popular_total = df_popular.groupby(['Item ID', 'Item Name'])

df_popular_total_sum = df_popular_total.sum()
df_popular_total_sum = df_popular_total_sum.rename(columns={'Price':'Total Purchase Value'})

df_popular_counts = df_popular.groupby(['Item ID','Item Name']).count()
df_popular_counts = df_popular_counts.rename(columns={'Price':'Purchase Count'})

df_popular_price = df_popular_total[['Price']].mean()
df_popular_price = df_popular_price.rename(columns={'Price':'Item Price'})

popular_data = pd.concat([df_popular_counts, df_popular_price, df_popular_total_sum], axis=1)
popular_data = popular_data.sort_values('Purchase Count', ascending=False).head(5)
popular_data.style.format({'Item Price':'${:.2f}','Total Purchase Value':'${:.2f}'})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [71]:
popular_data = popular_data.sort_values('Total Purchase Value', ascending=False).head(5)
popular_data.style.format({'Item Price':'${:.2f}','Total Purchase Value':'${:.2f}'})